@font-face{
    font-family: 'JetBrains Mono';
    src: url("JetBrainsMono-Regular.ttf"), url("JetBrainsMonoNL-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

canvas#canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
div#controls{
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
}
div#controls * {
    user-select: none;
}
div#controls *{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: default;
    outline: none;
    text-shadow: 1px 1px 8px black;
    font-size: 18px;
}
div#controls>*{
    padding: 3px;
}
div#controls input[type='range']:hover{
    color: initial;
}
div#controls button, div#controls input {
    cursor: pointer;
}
div#controls button:hover {
    outline: 1px solid white;
}
div#controls input[type="number"]{
    width: 2.5em;
    outline: 1px solid white;
    outline-offset: 4px;
    margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
div#controls sub {
    font-size: 70%;
}
div#controls input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: transparent;
    width: 5em;
}
div#controls input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    display: block;
    background: white;
    width: .2em;
    height: .8em;
    border-radius: 0;
    position: relative;
    top: -.3em;
    border: none;
}
div#controls input[type=range]::-moz-range-thumb{
    -moz-appearance: none;
    display: block;
    background: white;
    width: .2em;
    height: .8em;
    border-radius: 0;
    border: none;
    transform: translateY(.5em);
}
div#controls input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background: white;
    height: .2em;
    border-radius: .1em;
    position: relative;
    bottom: .3em;
}
div#controls input[type=range]::-moz-range-track{
    -moz-appearance: none;
    background: white;
    height: .2em;
    border: none;
    border-radius: .1em;
    transform: translateY(.5em);
}